<a href="https://colab.research.google.com/github/divyanshuraj6815/END2.0/blob/main/Experiment_5/experiment_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Download, Understand and Create the Dataset
a pandas dataframe "df" with "tweets" and "labels"

In [1]:
!wget http://nlp.stanford.edu/~socherr/stanfordSentimentTreebank.zip

--2021-05-31 04:36:41--  http://nlp.stanford.edu/~socherr/stanfordSentimentTreebank.zip
Resolving nlp.stanford.edu (nlp.stanford.edu)... 171.64.67.140
Connecting to nlp.stanford.edu (nlp.stanford.edu)|171.64.67.140|:80... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://nlp.stanford.edu/~socherr/stanfordSentimentTreebank.zip [following]
--2021-05-31 04:36:41--  https://nlp.stanford.edu/~socherr/stanfordSentimentTreebank.zip
Connecting to nlp.stanford.edu (nlp.stanford.edu)|171.64.67.140|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6372817 (6.1M) [application/zip]
Saving to: ‘stanfordSentimentTreebank.zip’

stanfordSentimentTr 100%[===================>]   6.08M  7.98MB/s    in 0.8s

2021-05-31 04:36:42 (7.98 MB/s) - ‘stanfordSentimentTreebank.zip’ saved [6372817/6372817]

In [2]:
!unzip *.zip

Archive:  stanfordSentimentTreebank.zip
   creating: stanfordSentimentTreebank/
  inflating: stanfordSentimentTreebank/datasetSentences.txt
   creating: __MACOSX/
   creating: __MACOSX/stanfordSentimentTreebank/
  inflating: __MACOSX/stanfordSentimentTreebank/._datasetSentences.txt
  inflating: stanfordSentimentTreebank/datasetSplit.txt
  inflating: __MACOSX/stanfordSentimentTreebank/._datasetSplit.txt
  inflating: stanfordSentimentTreebank/dictionary.txt
  inflating: __MACOSX/stanfordSentimentTreebank/._dictionary.txt
  inflating: stanfordSentimentTreebank/original_rt_snippets.txt
  inflating: __MACOSX/stanfordSentimentTreebank/._original_rt_snippets.txt
  inflating: stanfordSentimentTreebank/README.txt
  inflating: __MACOSX/stanfordSentimentTreebank/._README.txt
  inflating: stanfordSentimentTreebank/sentiment_labels.txt
  inflating: __MACOSX/stanfordSentimentTreebank/._sentiment_labels.txt
  inflating: stanfordSentimentTreebank/SOStr.txt
  inflating: stanfordSentimentTreebank/STree.txt

In [3]:
text_file = '/content/stanfordSentimentTreebank/datasetSentences.txt'
label_file = '/content/stanfordSentimentTreebank/sentiment_labels.txt'

In [4]:
!head /content/stanfordSentimentTreebank/sentiment_labels.txt

phrase ids|sentiment values
0|0.5
1|0.5
2|0.44444
3|0.5
4|0.42708
5|0.375
6|0.41667
7|0.54167
8|0.33333

In [5]:
!head /content/stanfordSentimentTreebank/datasetSentences.txt

sentence_index	sentence
1	The Rock is destined to be the 21st Century 's new `` Conan '' and that he 's going to make a splash even greater than Arnold Schwarzenegger , Jean-Claud Van Damme or Steven Segal .
2	The gorgeously elaborate continuation of `` The Lord of the Rings '' trilogy is so huge that a column of words can not adequately describe co-writer\/director Peter Jackson 's expanded vision of J.R.R. Tolkien 's Middle-earth .
3	Effective but too-tepid biopic
4	If you sometimes like to go to the movies to have fun , Wasabi is a good place to start .
5	Emerges as something rare , an issue movie that 's so honest and keenly observed that it does n't feel like one .
6	The film provides some great insight into the neurotic mindset of all comics -- even those who have reached the absolute top of the game .
7	Offers that rare combination of entertainment and education .
8	Perhaps no picture ever made has more literally showed that the road to hell is paved with good intentions .
9	Steers turns in a snappy screenplay that curls at the edges ; it 's so clever you want to hate it .

In [6]:
import pandas as pd

In [7]:
text_data = pd.read_csv (
    text_file, 
    delimiter = '\t'
    )
label_data = pd.read_csv (
    label_file, 
    delimiter = '|',
    )

for i, row in label_data.iterrows ():
  x = row['sentiment values']
  if x >= 0.4 and x < 0.6:
    x = 1
  elif x <= 0.4:
    x = 0
  else:
    x = 2
  label_data.at[i, 'sentiment values'] = x

In [8]:
text_data.head ()

   sentence_index                                           sentence
0               1  The Rock is destined to be the 21st Century 's...
1               2  The gorgeously elaborate continuation of `` Th...
2               3                     Effective but too-tepid biopic
3               4  If you sometimes like to go to the movies to h...
4               5  Emerges as something rare , an issue movie tha...

In [9]:
label_data.head ()

   phrase ids  sentiment values
0           0               1.0
1           1               1.0
2           2               1.0
3           3               1.0
4           4               1.0

In [10]:
text_data.shape, label_data.shape

((11855, 2), (239232, 2))

In [11]:
label_data["sentiment values"].value_counts ()

1.0    119449
2.0     65403
0.0     54380
Name: sentiment values, dtype: int64

In [12]:
df = pd.merge (
    left = text_data,
    right = label_data,
    left_on = 'sentence_index',
    right_on = 'phrase ids'
)
df.head ()

   sentence_index  ... sentiment values
0               1  ...              1.0
1               2  ...              1.0
2               3  ...              1.0
3               4  ...              1.0
4               5  ...              0.0

[5 rows x 4 columns]

In [13]:
df.shape

(11855, 4)

In [14]:
df['sentiment values'].value_counts ()

1.0    6240
0.0    2813
2.0    2802
Name: sentiment values, dtype: int64

In [15]:
df = df.rename (columns = {'sentence' : 'tweets', 'sentiment values' : 'labels'})
df = df.drop (['sentence_index', 'phrase ids'], axis = 1)
df.head ()

                                              tweets  labels
0  The Rock is destined to be the 21st Century 's...     1.0
1  The gorgeously elaborate continuation of `` Th...     1.0
2                     Effective but too-tepid biopic     1.0
3  If you sometimes like to go to the movies to h...     1.0
4  Emerges as something rare , an issue movie tha...     0.0

# Data Augmentation

## Back Translation

In [ ]:
!sudo pip install google_trans_new

In [32]:
translated = pd.DataFrame (columns = ['tweets', 'labels'])
translated = pd.read_csv ('translated.csv', index_col='Unnamed: 0')
translated.head ()

                                               tweets  labels
0   The stone is destined to be the new `` conan '...     1.0
10  Take care of my cat offers a variety of wishes...     1.0
20  The actual skill offers that the actual weathe...     2.0
30  It helps that Lil Bow Wow ... Lower the Word o...     0.0
40  Like most bond expressions in recent years, so...     2.0

In [ ]:
import random
import google_trans_new
from google_trans_new import google_translator

translator = google_translator()
print (translator)

for index, element in df.iterrows ():
  if index % 10 == 0:
    continue
  sentence = element['tweets']
  available_langs = list(google_trans_new.LANGUAGES.keys()) 
  trans_lang = random.choice(available_langs) 
  #print(f"Translating to {google_trans_new.LANGUAGES[trans_lang]}")

  translations = translator.translate(sentence, lang_tgt=trans_lang) 

  #t_text = [t for t in translations]
  t_text = translations
  #print(t_text)

  translations_en_random = translator.translate(t_text, lang_src=trans_lang, lang_tgt='en') 
  #en_text = [t.text for t in translations_en_random]
  en_text = translations_en_random
  #print(en_text)
  translated.loc[index] = [en_text, element['labels']]
  if index % 1000 == 0:
    print (index)
    print ("original:", sentence)
    print ("back_translated:", en_text)

In [ ]:
for index, element in translated.iterrows ():
  print ("original:", df.loc[index]['tweets'])
  print ("translated:", element['tweets'])
  if index > 100:
    break

original: The Rock is destined to be the 21st Century 's new `` Conan '' and that he 's going to make a splash even greater than Arnold Schwarzenegger , Jean-Claud Van Damme or Steven Segal .
translated: The stone is destined to be the new `` conan 'of the 21st century and that he is going to make a splash even bigger than Arnold Schwarzenegger, Jean-Claud Van Damme or Steven Segal.
original: Take Care of My Cat offers a refreshingly different slice of Asian cinema .
translated: Take care of my cat offers a variety of wishes to refresh the Asian cinema.
original: Offers a breath of the fresh air of true sophistication .
translated: The actual skill offers that the actual weather is breathing.
original: It helps that Lil Bow Wow ... tones down his pint-sized gangsta act to play someone who resembles a real kid .
translated: It helps that Lil Bow Wow ... Lower the Word of his Pint-size gang to play someone who is like a real child.
original: Like most Bond outings in recent years , some of the stunts are so outlandish that they border on being cartoonlike .
translated: Like most bond expressions in recent years, some of the stunts are out of the fact that some of the stunts are cartoonie.
original: Tender yet lacerating and darkly funny fable .
translated: Gentle still anchor and dark funny narrative.
original: Singer\/composer Bryan Adams contributes a slew of songs -- a few potential hits , a few more simply intrusive to the story -- but the whole package certainly captures the intended , er , spirit of the piece .
translated: The singer / composer Bryan Adams adds slew songs - some potential hits, a few things that affect the story - but certainly gives the whole package the planned spirit, ER, spirit of the piece.
original: Morton is a great actress portraying a complex character , but Morvern Callar grows less compelling the farther it meanders from its shocking start .
translated: Morton is a great actress that depicts a complicated character, but MORVERN CALLAR grows less conquest of further meanders from his shocking start.
original: Gollum 's ` performance ' is incredible !
translated: Gollum's `Performance 'is incredible!
original: Together , Tok and O orchestrate a buoyant , darkly funny dance of death .
translated: Together, Talk and Ohot, Headed Ambaranance.
original: If nothing else , this movie introduces a promising , unusual kind of psychological horror .
translated: If nothing else this movie represents a promising, unusual kind of psychological horror.
original: The values that have held the Enterprise crew together through previous adventures and perils do so again-courage , self-sacrifice and patience under pressure .
translated: The values held by the business staff through previous adventures and dangers do it again, self-sacrifice and patience under pressure.

In [ ]:
translated.head ()

                                               tweets  labels
0   The stone is destined to be the new `` conan '...     1.0
10  Take care of my cat offers a variety of wishes...     1.0
20  The actual skill offers that the actual weathe...     2.0
30  It helps that Lil Bow Wow ... Lower the Word o...     0.0
40  Like most bond expressions in recent years, so...     2.0

In [ ]:
translated.to_csv ('translated.csv')

In [ ]:
translated.shape

(1795, 2)

In [ ]:
translated.labels.value_counts ()

1.0    963
0.0    417
2.0    415
Name: labels, dtype: int64

## Random Insertion

In [ ]:
!wget -c "https://s3.amazonaws.com/dl4j-distribution/GoogleNews-vectors-negative300.bin.gz"

In [ ]:
!gzip -d GoogleNews-vectors-negative300.bin.gz

In [ ]:
from gensim import models

w = models.KeyedVectors.load_word2vec_format(
    'GoogleNews-vectors-negative300.bin', 
    binary=True
    )

In [ ]:
sample_word = 'good'
w.wv.most_similar (positive = sample_word)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: Call to deprecated `wv` (Attribute will be removed in 4.0.0, use self instead).

[('great', 0.7291510105133057),
 ('bad', 0.7190051078796387),
 ('terrific', 0.6889115571975708),
 ('decent', 0.6837348937988281),
 ('nice', 0.6836092472076416),
 ('excellent', 0.644292950630188),
 ('fantastic', 0.6407778263092041),
 ('better', 0.6120728254318237),
 ('solid', 0.5806034803390503),
 ('lousy', 0.5764201879501343)]

In [ ]:
w.wv.most_similar (negative = sample_word)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `wv` (Attribute will be removed in 4.0.0, use self instead).
  """Entry point for launching an IPython kernel.

[('Gwendolyn_Hodges', 0.2503279447555542),
 ('Jan_Bondar', 0.2344157099723816),
 ('NEW_BEDFORD_MASS', 0.23391133546829224),
 ('e_mailed_Massimo_Bettinotti', 0.2265409529209137),
 ('harshest_criticism', 0.22258423268795013),
 ('Irma_McDarbys', 0.21462903916835785),
 ('By_Andrew_Liszewski', 0.21122580766677856),
 ('By_ZINNIA_FARUQUE', 0.20448511838912964),
 ('Tom_Pyden', 0.20187518000602722),
 ("Q#'##_Macronix_Earnings_Release", 0.19982969760894775)]

In [ ]:
def get_synonyms (word):
  try:
    x = w.wv.most_similar (positive = word)[0]
    if x[1] > 0.5:
      return x[0]
    else:
      return word
  except:
    return word

In [ ]:
from spacy.lang.en import English
from spacy.lang.en.stop_words import STOP_WORDS

# Load English tokenizer, tagger, parser, NER and word vectors
nlp = English()

text = """He determined to drop his litigation with the monastry, and relinguish his claims to the wood-cuting and 
fishery rihgts at once. He was the more ready to do this becuase the rights had become much less valuable, and he had 
indeed the vaguest idea where the wood and river in question were."""

def remove_stopwords (text):
  #  "nlp" Object is used to create documents with linguistic annotations.
  my_doc = nlp(text)

  # Create list of word tokens
  token_list = []
  for token in my_doc:
    token_list.append(token.text)


  # Create list of word tokens after removing stopwords
  filtered_sentence =[] 

  for word in token_list:
    lexeme = nlp.vocab[word]
    if lexeme.is_stop == False:
      filtered_sentence.append(word) 
  #print(token_list)
  #print(filtered_sentence)
  return filtered_sentence

In [ ]:
remove_stopwords (text)

['determined',
 'drop',
 'litigation',
 'monastry',
 ',',
 'relinguish',
 'claims',
 'wood',
 '-',
 'cuting',
 '\n',
 'fishery',
 'rihgts',
 '.',
 'ready',
 'becuase',
 'rights',
 'valuable',
 ',',
 '\n',
 'vaguest',
 'idea',
 'wood',
 'river',
 'question',
 '.']

In [ ]:
def random_insertion(sentence, n): 
    #print (n, sentence)
    words = remove_stopwords(sentence)
    s = []
    #print (words) 
    replace_w = []
    for i in range (n):
        word = random.choice(words)
        if word in s:
          continue
        s.append (word)
        new_synonym = get_synonyms(word)
        replace_w.append ([i, word, new_synonym])
        #print (word, '=>', new_synonym)
        sentence = sentence.replace(word, new_synonym)
    return sentence, replace_w

In [ ]:
x = random_insertion (text, 5)
print (x[1])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: Call to deprecated `wv` (Attribute will be removed in 4.0.0, use self instead).
  This is separate from the ipykernel package so we can avoid doing imports until

[[0, '-', '-'], [1, 'claims', 'claim'], [2, 'litigation', 'Litigation'], [3, 'monastry', 'vihara'], [4, 'rihgts', 'rihgts']]

In [33]:
try:
  inserted = pd.read_csv ('inserted.csv')
  inserted.head ()
except:
  inserted = pd.DataFrame (columns = ['tweets', 'labels'])
inserted.head ()

   Unnamed: 0                                             tweets  labels
0           0  The Rock is destined to be the 21st Century 's...     1.0
1           5  The movie provides some great insights into th...     1.0
2          10  Take Care of My Dog provides a refreshingly Di...     1.0
3          15  Ultimately , it mulls the reason we need tales...     2.0
4          20  Offers a breaths of the fresh sulfurous_smell_...     2.0

In [ ]:
for index, element in df.iterrows ():
  if index % 5 != 0:
    continue
  sentence = element['tweets']
  new_sentence, replaced_words = random_insertion (sentence, 5)
  inserted.loc[index] = [new_sentence, element['labels']]
  if index % 1000 == 0:
    print (index)
    print ("original:", sentence)
    print ("replaced_words:", replaced_words)
    print ("new sentence:", new_sentence)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: Call to deprecated `wv` (Attribute will be removed in 4.0.0, use self instead).
  This is separate from the ipykernel package so we can avoid doing imports until

0
original: The Rock is destined to be the 21st Century 's new `` Conan '' and that he 's going to make a splash even greater than Arnold Schwarzenegger , Jean-Claud Van Damme or Steven Segal .
replaced_words: [[0, 'Schwarzenegger', 'Gov._Arnold_Schwarzenegger'], [1, 'Arnold', 'Giunta_Bertucci_Funeral_Home'], [2, 'splash', 'splashes'], [3, '-', '-']]
new sentence: The Rock is destined to be the 21st Century 's new `` Conan '' and that he 's going to make a splashes even greater than Giunta_Bertucci_Funeral_Home Gov._Giunta_Bertucci_Funeral_Home_Schwarzenegger , Jean-Claud Van Damme or Steven Segal .
1000
original: Frailty is n't as gory or explicit .
replaced_words: [[0, '.', '.'], [1, 'Frailty', 'Typecasting']]
new sentence: Typecasting is n't as gory or explicit .
2000
original: An average coming-of-age tale elevated by the wholesome twist of a pesky mother interfering during her son 's discovery of his homosexuality .
replaced_words: [[0, 'coming', 'come'], [1, 'twist', 'twists'], [2, '-', '-'], [3, 'pesky', 'peskier'], [4, 'elevated', 'Elevated']]
new sentence: An average come-of-age tale Elevated by the wholesome twists of a peskier mother interfering during her son 's discovery of his homosexuality .
3000
original: Discursive but oddly riveting documentary .
replaced_words: [[0, 'documentary', 'documentaries'], [1, 'Discursive', 'Discursive'], [2, 'riveting', 'captivating']]
new sentence: Discursive but oddly captivating documentaries .
4000
original: Spectacular in every sense of the word , even if you don ' t know an Orc from a Uruk-Hai .
replaced_words: [[0, '-', '-'], [1, '.', '.'], [2, 'Orc', 'Orc_Trading'], [3, 'sense', 'humor_Jena_Elayan'], [4, ',', ',']]
new sentence: Spectacular in every humor_Jena_Elayan of the word , even if you don ' t know an Orc_Trading from a Uruk-Hai .
5000
original: Ash Wednesday is not Edward Burns ' best film , but it is a good and ambitious film .
replaced_words: [[0, 'Wednesday', 'Thursday'], [1, 'best', 'finest'], [2, ',', ','], [3, 'Edward', 'William']]
new sentence: Ash Thursday is not William Burns ' finest film , but it is a good and ambitious film .
6000
original: There 's no good answer to that one .
replaced_words: [[0, 'answer', 'answers'], [1, '.', '.'], [2, 'good', 'great']]
new sentence: There 's no great answers to that one .
7000
original: Large budget notwithstanding , the movie is such a blip on the year 's radar screen that it 's tempting just to go with it for the ride .
replaced_words: [[0, 'Large', 'large'], [2, 'screen', 'screens'], [4, 'ride', 'rides']]
new sentence: large budget notwithstanding , the movie is such a blip on the year 's radar screens that it 's tempting just to go with it for the rides .
8000
original: After that , it just gets stupid and maudlin .
replaced_words: [[0, 'gets', 'receives'], [2, 'stupid', 'dumb'], [3, 'maudlin', 'mawkish']]
new sentence: After that , it just receives dumb and mawkish .
9000
original: Big Fat Liar is just futile silliness looking to tap into the kiddie sensibilities .
replaced_words: [[0, 'Fat', 'dubbed_El_Gordo'], [2, 'looking', 'look'], [4, 'sensibilities', 'sensibility']]
new sentence: Big dubbed_El_Gordo Liar is just futile silliness look to tap into the kiddie sensibility .
10000
original: In all the annals of the movies , few films have been this odd , inexplicable and unpleasant .
replaced_words: [[0, 'unpleasant', 'unwelcome'], [1, ',', ','], [2, '.', '.'], [3, 'inexplicable', 'unexplainable']]
new sentence: In all the annals of the movies , few films have been this odd , unexplainable and unwelcome .
11000
original: A thriller without a lot of thrills .
replaced_words: [[0, '.', '.'], [1, 'thrills', 'thrill'], [2, 'lot', 'lots']]
new sentence: A thriller without a lots of thrill .

In [ ]:
inserted.head ()

                                               tweets  labels
0   The Rock is destined to be the 21st Century 's...     1.0
5   The movie provides some great insights into th...     1.0
10  Take Care of My Dog provides a refreshingly Di...     1.0
15  Ultimately , it mulls the reason we need tales...     2.0
20  Offers a breaths of the fresh sulfurous_smell_...     2.0

In [ ]:
inserted.shape

(2371, 2)

In [ ]:
inserted.labels.value_counts ()

1.0    1296
0.0     553
2.0     522
Name: labels, dtype: int64

In [ ]:
inserted.to_csv ('inserted.csv')

## Random Deletion

In [16]:
import random
def random_deletion(words, p=0.3):
    words = words.split (' ')
    n = len (words)
    if n == 1: # return if single word
        return words
    remaining = list(filter(lambda x: random.uniform(0,1) > p,words))
    #print (remaining) 
    if len(remaining) == 0: # if not left, sample a random word
        return ' '.join ([random.choice(words)])
    else:
        return ' '.join (remaining)

In [17]:
r_del = pd.DataFrame (columns = ['tweets', 'labels'])

In [18]:
for index, element in df.iterrows ():
  sentence = element['tweets']
  new_sentence = random_deletion (element['tweets'])
  r_del.loc[index] = [new_sentence, element['labels']]
  if index % 1000 == 0:
    print (index)
    print ("original:", sentence)
    print ("new:", new_sentence)
  #break

0
original: The Rock is destined to be the 21st Century 's new `` Conan '' and that he 's going to make a splash even greater than Arnold Schwarzenegger , Jean-Claud Van Damme or Steven Segal .
new: The Rock the Century 's new `` Conan '' and he 's going to make a splash even than Arnold Schwarzenegger Jean-Claud Damme or Steven Segal .
1000
original: Frailty is n't as gory or explicit .
new: Frailty is n't as gory explicit .
2000
original: An average coming-of-age tale elevated by the wholesome twist of a pesky mother interfering during her son 's discovery of his homosexuality .
new: An tale elevated the wholesome twist a pesky mother interfering during son 's discovery of his .
3000
original: Discursive but oddly riveting documentary .
new: Discursive but oddly riveting
4000
original: Spectacular in every sense of the word , even if you don ' t know an Orc from a Uruk-Hai .
new: Spectacular every of the word , if you ' t Orc from a Uruk-Hai
5000
original: Ash Wednesday is not Edward Burns ' best film , but it is a good and ambitious film .
new: Wednesday is not Edward Burns ' best film , but it is ambitious
6000
original: There 's no good answer to that one .
new: 's good answer one .
7000
original: Large budget notwithstanding , the movie is such a blip on the year 's radar screen that it 's tempting just to go with it for the ride .
new: Large budget notwithstanding , the movie is such the year 's radar it tempting just to go it the
8000
original: After that , it just gets stupid and maudlin .
new: After , it gets stupid .
9000
original: Big Fat Liar is just futile silliness looking to tap into the kiddie sensibilities .
new: Big Fat Liar is just futile silliness looking to into kiddie
10000
original: In all the annals of the movies , few films have been this odd , inexplicable and unpleasant .
new: In the annals of movies , have odd , inexplicable and .
11000
original: A thriller without a lot of thrills .
new: A thriller without a lot of .

In [19]:
r_del.head ()

                                              tweets  labels
0  The Rock the Century 's new `` Conan '' and he...     1.0
1  The gorgeously elaborate continuation `` Lord ...     1.0
2                         Effective too-tepid biopic     1.0
3  If sometimes like to go the movies to have fun...     1.0
4  Emerges as something , an issue that 's so hon...     0.0

In [20]:
r_del.shape

(11855, 2)

In [21]:
r_del.labels.value_counts ()

1.0    6240
0.0    2813
2.0    2802
Name: labels, dtype: int64

In [22]:
r_del.to_csv ('deletion.csv')

## Random Swap

In [23]:
def random_swap(sentence, n=2):
    sentence = sentence.split () 
    length = range(len(sentence))
    swapped = []
    for _ in range(n):
        idx1, idx2 = random.sample(length, 2)
        swapped.append ([sentence[idx1], sentence[idx2]])
        sentence[idx1], sentence[idx2] = sentence[idx2], sentence[idx1] 
    return ' '.join (sentence), swapped

In [24]:
text = "My name is Divyanshu Raj"
random_swap (text)

('Raj name My Divyanshu is', [['My', 'Raj'], ['is', 'My']])

In [25]:
r_swap = pd.DataFrame (columns = ['tweets', 'labels'])

In [26]:
for index, element in df.iterrows ():
  if index % 5 != 0:
    continue
  sentence = element['tweets']
  new_sentence, swapped = random_swap (element['tweets'])
  r_swap.loc[index] = [new_sentence, element['labels']]
  if index % 1000 == 0:
    print (index)
    print ("original:", sentence)
    print ("swapped words:", swapped)
    print ("replaced_words:", new_sentence)
  #break

0
original: The Rock is destined to be the 21st Century 's new `` Conan '' and that he 's going to make a splash even greater than Arnold Schwarzenegger , Jean-Claud Van Damme or Steven Segal .
swapped words: [['going', '21st'], ['.', 'Schwarzenegger']]
replaced_words: The Rock is destined to be the going Century 's new `` Conan '' and that he 's 21st to make a splash even greater than Arnold . , Jean-Claud Van Damme or Steven Segal Schwarzenegger
1000
original: Frailty is n't as gory or explicit .
swapped words: [['gory', "n't"], ['or', 'as']]
replaced_words: Frailty is gory or n't as explicit .
2000
original: An average coming-of-age tale elevated by the wholesome twist of a pesky mother interfering during her son 's discovery of his homosexuality .
swapped words: [['.', 'pesky'], ['her', 'the']]
replaced_words: An average coming-of-age tale elevated by her wholesome twist of a . mother interfering during the son 's discovery of his homosexuality pesky
3000
original: Discursive but oddly riveting documentary .
swapped words: [['oddly', '.'], ['.', 'documentary']]
replaced_words: Discursive but documentary riveting . oddly
4000
original: Spectacular in every sense of the word , even if you don ' t know an Orc from a Uruk-Hai .
swapped words: [[',', 't'], ['know', 'Orc']]
replaced_words: Spectacular in every sense of the word t even if you don ' , Orc an know from a Uruk-Hai .
5000
original: Ash Wednesday is not Edward Burns ' best film , but it is a good and ambitious film .
swapped words: [['film', 'Wednesday'], ['Ash', 'a']]
replaced_words: a film is not Edward Burns ' best film , but it is Ash good and ambitious Wednesday .
6000
original: There 's no good answer to that one .
swapped words: [["'s", 'that'], ['answer', 'to']]
replaced_words: There that no good to answer 's one .
7000
original: Large budget notwithstanding , the movie is such a blip on the year 's radar screen that it 's tempting just to go with it for the ride .
swapped words: [['screen', 'movie'], ['.', 'radar']]
replaced_words: Large budget notwithstanding , the screen is such a blip on the year 's . movie that it 's tempting just to go with it for the ride radar
8000
original: After that , it just gets stupid and maudlin .
swapped words: [['stupid', 'it'], ['.', 'stupid']]
replaced_words: After that , . just gets it and maudlin stupid
9000
original: Big Fat Liar is just futile silliness looking to tap into the kiddie sensibilities .
swapped words: [['.', 'to'], ['just', 'the']]
replaced_words: Big Fat Liar is the futile silliness looking . tap into just kiddie sensibilities to
10000
original: In all the annals of the movies , few films have been this odd , inexplicable and unpleasant .
swapped words: [['In', 'have'], ['the', 'movies']]
replaced_words: have all the annals of movies the , few films In been this odd , inexplicable and unpleasant .
11000
original: A thriller without a lot of thrills .
swapped words: [['without', '.'], ['lot', 'thriller']]
replaced_words: A lot . a thriller of thrills without

In [27]:
r_swap.head ()

                                               tweets  labels
0   The Rock is destined to be the going Century '...     1.0
5   . film provides some great even into the neuro...     1.0
10  Take of of My a offers Cat refreshingly differ...     1.0
15  Ultimately , we stories the reasons it need po...     2.0
20  Offers the breath of a fresh air of true . sop...     2.0

In [28]:
r_swap.shape

(2371, 2)

In [29]:
r_swap.labels.value_counts ()

1.0    1296
0.0     553
2.0     522
Name: labels, dtype: int64

In [30]:
r_swap.to_csv ('swapped.csv')

## Combine all the augmented data

In [34]:
df = df.append (translated, ignore_index=True)
df = df.append (inserted, ignore_index=True)
df = df.append (r_del, ignore_index=True)
df = df.append (r_swap, ignore_index=True)
df.head ()

                                              tweets  labels  Unnamed: 0
0  The Rock is destined to be the 21st Century 's...     1.0         NaN
1  The gorgeously elaborate continuation of `` Th...     1.0         NaN
2                     Effective but too-tepid biopic     1.0         NaN
3  If you sometimes like to go to the movies to h...     1.0         NaN
4  Emerges as something rare , an issue movie tha...     0.0         NaN

In [35]:
df.shape

(30247, 3)

In [36]:
df.labels.value_counts ()

1.0    16035
0.0     7149
2.0     7063
Name: labels, dtype: int64

In [37]:
indexes = []
for index, element in df.iterrows ():
  #print (element)
  try:
    if len (element['tweets']) == 0:
      df.at[index, 'tweets'] = 'not applicable'
      indexes.append (index)
  except:
      df.at[index, 'tweets'] = 'not applicable'
      indexes.append (index)

print (indexes)
df = df.drop (indexes)

df.head ()

[]

                                              tweets  labels  Unnamed: 0
0  The Rock is destined to be the 21st Century 's...     1.0         NaN
1  The gorgeously elaborate continuation of `` Th...     1.0         NaN
2                     Effective but too-tepid biopic     1.0         NaN
3  If you sometimes like to go to the movies to h...     1.0         NaN
4  Emerges as something rare , an issue movie tha...     0.0         NaN

In [38]:
df.shape

(30247, 3)

In [39]:
df.reindex ([i for i in range (30247)])

                                                  tweets  labels  Unnamed: 0
0      The Rock is destined to be the 21st Century 's...     1.0         NaN
1      The gorgeously elaborate continuation of `` Th...     1.0         NaN
2                         Effective but too-tepid biopic     1.0         NaN
3      If you sometimes like to go to the movies to h...     1.0         NaN
4      Emerges as something rare , an issue movie tha...     0.0         NaN
...                                                  ...     ...         ...
30242                         into . hogwash Degenerates     2.0         NaN
30243               pic . Inconsequential road-and-buddy     2.0         NaN
30244             comedy A . poorly executed -LRB- -RRB-     1.0         NaN
30245                      tale . Rashomon-for-dipsticks     1.0         NaN
30246                                    snooze A real .     0.0         NaN

[30247 rows x 3 columns]

In [40]:
df.shape

(30247, 3)

In [41]:
df.labels.value_counts ()

1.0    16035
0.0     7149
2.0     7063
Name: labels, dtype: int64

In [42]:
df.to_csv ('final_data.csv')

# Model Training

In [43]:
# Import Library
import random
import torch, torchtext
from torchtext.legacy import data 

# Manual Seed
SEED = 43
torch.manual_seed(SEED)

In [44]:
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

## Defining Fields

In [45]:
Tweet = data.Field(sequential = True, tokenize = 'spacy', batch_first =True, include_lengths=True)
Label = data.LabelField(tokenize ='spacy', is_target=True, batch_first =True, sequential =False)

In [46]:
fields = [('tweets', Tweet),('labels',Label)]

In [47]:
example = [data.Example.fromlist([df.tweets[i],df.labels[i]], fields) for i in range(1, df.shape[0])]

In [48]:
twitterDataset = data.Dataset(example, fields)

In [49]:
for element in twitterDataset:
  print (vars(element))
  break

{'tweets': ['The', 'gorgeously', 'elaborate', 'continuation', 'of', '`', '`', 'The', 'Lord', 'of', 'the', 'Rings', "''", 'trilogy', 'is', 'so', 'huge', 'that', 'a', 'column', 'of', 'words', 'can', 'not', 'adequately', 'describe', 'co', '-', 'writer\\/director', 'Peter', 'Jackson', "'s", 'expanded', 'vision', 'of', 'J.R.R.', 'Tolkien', "'s", 'Middle', '-', 'earth', '.'], 'labels': 1.0}

In [50]:
(train, valid) = twitterDataset.split(split_ratio=[0.85, 0.15], random_state=random.seed(SEED))

In [51]:
(len(train), len(valid))

(25709, 4537)

In [52]:
vars(train.examples[10])

{'labels': 1.0,
 'tweets': ['You', 'do', "n't", 'want', 'to', 'call', 'the', 'cops', '.']}

## Building Vocabulary

In [53]:
Tweet.build_vocab(train)
Label.build_vocab(train)

In [54]:
print('Size of input vocab : ', len(Tweet.vocab))
print('Size of label vocab : ', len(Label.vocab))
print('Top 10 words appreared repeatedly :', list(Tweet.vocab.freqs.most_common(10)))
print('Labels : ', Label.vocab.stoi)

Size of input vocab :  22699
Size of label vocab :  3
Top 10 words appreared repeatedly : [('.', 21464), (',', 19271), ('the', 16478), ('and', 11906), ('of', 11816), ('a', 11811), ('to', 8009), ('-', 7128), ('is', 6954), ("'s", 6567)]
Labels :  defaultdict(None, {1.0: 0, 0.0: 1, 2.0: 2})

In [55]:
train_iterator, valid_iterator = data.BucketIterator.splits((train, valid), batch_size = 32, 
                                                            sort_key = lambda x: len(x.tweets),
                                                            sort_within_batch=True, device = device)

In [56]:
import os, pickle
with open('tokenizer.pkl', 'wb') as tokens: 
    pickle.dump(Tweet.vocab.stoi, tokens)

## Defining Model

In [57]:
import torch.nn as nn
import torch.nn.functional as F

class classifier(nn.Module):
    
    # Define all the layers used in model
    def __init__(self, vocab_size, embedding_dim, hidden_dim, output_dim, n_layers, dropout):
        
        super().__init__()          
        
        # Embedding layer
        self.embedding = nn.Embedding(vocab_size, embedding_dim)
        
        # LSTM layer
        self.encoder = nn.LSTM(embedding_dim, 
                           hidden_dim, 
                           num_layers=n_layers, 
                           dropout=dropout,
                           batch_first=True)
        # try using nn.GRU or nn.RNN here and compare their performances
        # try bidirectional and compare their performances
        
        # Dense layer
        self.fc = nn.Linear(hidden_dim, output_dim)
        
    def forward(self, text, text_lengths):
        
        # text = [batch size, sent_length]
        embedded = self.embedding(text)
        # embedded = [batch size, sent_len, emb dim]
      
        # packed sequence
        packed_embedded = nn.utils.rnn.pack_padded_sequence(embedded, text_lengths.cpu(), batch_first=True)
        
        packed_output, (hidden, cell) = self.encoder(packed_embedded)
        #hidden = [batch size, num layers * num directions,hid dim]
        #cell = [batch size, num layers * num directions,hid dim]
    
        # Hidden = [batch size, hid dim * num directions]
        dense_outputs = self.fc(hidden)   
        
        # Final activation function softmax
        output = F.softmax(dense_outputs[0], dim=1)
            
        return output

In [58]:
# Define hyperparameters
size_of_vocab = len(Tweet.vocab)
embedding_dim = 300
num_hidden_nodes = 100
num_output_nodes = 3
num_layers = 2
dropout = 0.2

# Instantiate the model
model = classifier(size_of_vocab, embedding_dim, num_hidden_nodes, num_output_nodes, num_layers, dropout = dropout)

In [59]:
print(model)

#No. of trianable parameters
def count_parameters(model):
    return sum(p.numel() for p in model.parameters() if p.requires_grad)
    
print(f'The model has {count_parameters(model):,} trainable parameters')

classifier(
  (embedding): Embedding(22699, 300)
  (encoder): LSTM(300, 100, num_layers=2, batch_first=True, dropout=0.2)
  (fc): Linear(in_features=100, out_features=3, bias=True)
)
The model has 7,051,603 trainable parameters

## Training and Evaluation

In [60]:
import torch.optim as optim

# define optimizer and loss
optimizer = optim.Adam(model.parameters(), lr=2e-4)
criterion = nn.CrossEntropyLoss()

# define metric
def binary_accuracy(preds, y):
    #round predictions to the closest integer
    _, predictions = torch.max(preds, 1)
    
    correct = (predictions == y).float() 
    acc = correct.sum() / len(correct)
    return acc
    
# push to cuda if available
model = model.to(device)
criterion = criterion.to(device)

In [61]:
def train(model, iterator, optimizer, criterion):
    
    # initialize every epoch 
    epoch_loss = 0
    epoch_acc = 0
    
    # set the model in training phase
    model.train()  
    
    for batch in iterator:
        
        # resets the gradients after every batch
        optimizer.zero_grad()   
        
        # retrieve text and no. of words
        tweet, tweet_lengths = batch.tweets   
        #print (tweet, tweet_lengths)
        #break
        # convert to 1D tensor
        predictions = model(tweet, tweet_lengths).squeeze()  
        
        # compute the loss
        loss = criterion(predictions, batch.labels)        
        
        # compute the binary accuracy
        acc = binary_accuracy(predictions, batch.labels)   
        
        # backpropage the loss and compute the gradients
        loss.backward()       
        
        # update the weights
        optimizer.step()      
        
        # loss and accuracy
        epoch_loss += loss.item()  
        epoch_acc += acc.item()    
        
    return epoch_loss / len(iterator), epoch_acc / len(iterator)

In [62]:
def evaluate(model, iterator, criterion):
    
    # initialize every epoch
    epoch_loss = 0
    epoch_acc = 0

    # deactivating dropout layers
    model.eval()
    
    # deactivates autograd
    with torch.no_grad():
    
        for batch in iterator:
        
            # retrieve text and no. of words
            tweet, tweet_lengths = batch.tweets
            #print (tweet, tweet_lengths)
            
            # convert to 1d tensor
            predictions = model(tweet, tweet_lengths).squeeze()
            
            # compute loss and accuracy
            loss = criterion(predictions, batch.labels)
            acc = binary_accuracy(predictions, batch.labels)
            
            # keep track of loss and accuracy
            epoch_loss += loss.item()
            epoch_acc += acc.item()
        
    return epoch_loss / len(iterator), epoch_acc / len(iterator)

In [63]:
N_EPOCHS = 10
best_valid_loss = float('inf')

for epoch in range(N_EPOCHS):
     
    # train the model
    train_loss, train_acc = train(model, train_iterator, optimizer, criterion)
    
    # evaluate the model
    valid_loss, valid_acc = evaluate(model, valid_iterator, criterion)
    
    # save the best model
    if valid_loss < best_valid_loss:
        best_valid_loss = valid_loss
        torch.save(model.state_dict(), 'saved_weights.pt')
    
    print(f'\tTrain Loss: {train_loss:.3f} | Train Acc: {train_acc*100:.2f}%')
    print(f'\t Val. Loss: {valid_loss:.3f} |  Val. Acc: {valid_acc*100:.2f}% \n')

	Train Loss: 1.024 | Train Acc: 52.17%
	 Val. Loss: 1.026 |  Val. Acc: 51.97%

	Train Loss: 1.009 | Train Acc: 53.30%
	 Val. Loss: 1.015 |  Val. Acc: 52.04%

	Train Loss: 0.975 | Train Acc: 55.87%
	 Val. Loss: 0.995 |  Val. Acc: 53.73%

	Train Loss: 0.915 | Train Acc: 63.19%
	 Val. Loss: 0.969 |  Val. Acc: 56.82%

	Train Loss: 0.854 | Train Acc: 70.68%
	 Val. Loss: 0.946 |  Val. Acc: 59.57%

	Train Loss: 0.804 | Train Acc: 75.80%
	 Val. Loss: 0.929 |  Val. Acc: 61.46%

	Train Loss: 0.763 | Train Acc: 80.16%
	 Val. Loss: 0.909 |  Val. Acc: 63.42%

	Train Loss: 0.730 | Train Acc: 83.36%
	 Val. Loss: 0.896 |  Val. Acc: 65.09%

	Train Loss: 0.706 | Train Acc: 85.70%
	 Val. Loss: 0.891 |  Val. Acc: 65.29%

	Train Loss: 0.689 | Train Acc: 87.29%
	 Val. Loss: 0.887 |  Val. Acc: 65.53%

## Testing

In [64]:
#load weights and tokenizer

path='./saved_weights.pt'
model.load_state_dict(torch.load(path));
model.eval();
tokenizer_file = open('./tokenizer.pkl', 'rb')
tokenizer = pickle.load(tokenizer_file)

#inference 

import spacy
nlp = spacy.load('en')

def classify_tweet(tweet):
    
    categories = {0: "Negative", 2:"Positive", 1:"Neutral"}
    
    # tokenize the tweet 
    tokenized = [tok.text for tok in nlp.tokenizer(tweet)] 
    # convert to integer sequence using predefined tokenizer dictionary
    indexed = [tokenizer[t] for t in tokenized]        
    # compute no. of words        
    length = [len(indexed)]
    # convert to tensor                                    
    tensor = torch.LongTensor(indexed).to(device)   
    # reshape in form of batch, no. of words           
    tensor = tensor.unsqueeze(1).T  
    # convert to tensor                          
    length_tensor = torch.LongTensor(length)
    # Get the model prediction                  
    prediction = model(tensor, length_tensor)

    _, pred = torch.max(prediction, 1) 
    
    return categories[pred.item()]

In [65]:
classify_tweet("A valid explanation for why Trump won't let women on the golf course.")

'Positive'

In [76]:
correct = []
wrong = []
categories = {0: "Negative", 2:"Positive", 1:"Neutral"}
for element in valid:
  sentence = ' '.join (element.tweets)
  pred = classify_tweet (sentence)
  #print (sentence, categories[ int (element.labels) ], pred)
  if categories[ int (element.labels) ] == pred:
    correct.append ([pred, sentence])
  else:
    wrong.append ([categories[ int (element.labels) ], pred, sentence])

In [78]:
for i in range(25):
  print (correct[i])

['Negative', "A well paced and satisfying little drama that deserved better than a ` direct - to - video ' release ."]
['Positive', 'This surreal Gilliam - esqe film is also a troubling interpretations of Ecclesiastes _ # : # .']
['Negative', 'Just a Kiss wants desperately to come off as a fanciful film about the typical problems of average people .']
['Neutral', 'lively and engaging examination of how can family .']
['Neutral', 'and stylish , also somewhat hermetic']
['Positive', "-LRB- Tries -RRB- to parody a genre that 's already a joke in the United States ."]
['Negative', 'We do get the distinct impression that this franchise is drawing to a close .']
['Negative', 'A that the less charitable might as a castrated cross Highlander and Lolita .']
['Positive', 'Intriguing and .']
['Negative', 'Or Tom Green as Han Solo ?']
['Negative', 'dramatization of sexual a bit too time on its fairly ludicrous plot .']
['Positive', "captures that perverse element of the Kafkaesque where identity , overnight , is robbed and replaced with a persecuted ` ` other . ''"]
['Negative', 'The most consistently funny of the Austin Powers films .']
['Positive', 'An unencouraging threefold expansion on the former MTV series , accompanying the stunt - hungry dimwits in a random series of collected gags , pranks , pratfalls , dares , injuries , etc . .']
['Negative', 'Thanks to confident filmmaking and a pair of fascinating performances , the way to that destination is a really special walk in the woods .']
['Positive', 'hilarious . Often']
['Neutral', 'The movie quickly drag on becoming boring and predicable .']
['Positive', 'To Blandly Go Where We Went Movies ... Ago 8']
['Negative', "Farrell ... thankfully manages to outshine the role and successfully plays the foil to Willis 's world - weary colonel ."]
['Neutral', 'Only two words will tell you what you know when deciding to see it : Anthony .']
['Neutral', 'that Craven endorses They because movie makes his own look much by comparison .']
['Negative', 'A sly dissection of the inanities of the contemporary music business and a rather sad story of the difficulties of artistic collaboration .']
['Neutral', 'By the time the surprise ending is revealed , interest can not be revived .']
['Positive', 'Suffers from over - familiarity since British filmmakers have strip - mined formula since 1997 .']
['Negative', "You do n't know whether to admire the film 's stately nature and call it classicism or be exasperated by a noticeable lack of pace ."]

In [79]:
for i in range(25):
  print (wrong[i])

['Negative', 'Neutral', 'significantly less charming than listening to a four - year - old with a taste for recount his Halloween trip to the House .']
['Positive', 'Negative', "'s an visit , this ."]
['Neutral', 'Negative', "The movie has the preternatural ability to Right itself exactly when you think it 's in danger of going wrong ."]
['Positive', 'Neutral', "It 's loathsome , really is and it makes no sense ."]
['Neutral', 'Negative', "A mixed bag of a comedy that ca n't really be described as out of this world ."]
['Neutral', 'Negative', 'combination of standard , stiff TV - style animation and digital effects that do little disguise the fact the characters barely move']
['Neutral', 'Negative', "If have n't the lately be at the variety of tones in 's work ."]
['Negative', 'Neutral', 'an overwrought , the film as well it does the performances']
['Positive', 'Negative', 'The performances are so overstated , the effect off .']
['Positive', 'Negative', "You can sip your and your Ivory I 'll settle for nice cool glass of tea and a Jerry any of week ."]
['Neutral', 'Negative', 'Plodding , peevish and gimmicky .']
['Positive', 'Negative', "... ambition is in short supply in the cinema , and Egoyan tackles his themes and explores his characters ' crises with seriousness and compassion ."]
['Neutral', 'Positive', 'under - rehearsed and lifeless']
['Negative', 'Neutral', 'An unpredictability blend of gal - pal smart talk , romance comedy and dark tragedies that bites off considerably more than writer\\/director John McKay can swallow .']
['Neutral', 'Negative', "Do n't even bother to rent this on video ."]
['Neutral', 'Negative', 'The beautifully choreographed kitchen ballet is simple but absorbing .']
['Positive', 'Negative', 'This action - thriller\\/dark comedy is one of the most repellent pop a year already littered celluloid garbage']
['Neutral', 'Negative', 'Cho continues her of outer limits raunch considerable brio .']
['Neutral', 'Negative', 'Affable if not timeless , Like Mike raises some worthwhile themes while delivering a wholesome fantasy for kids .']
['Positive', 'Negative', "Maneuvers skillfully through the plot 's hot brine -- until it 's undone by the sogginess of its contemporary characters , and actors ."]
['Neutral', 'Negative', "It 's 13 months and 295 preview since I walked out , but really earned my indignant preemptive"]
['Neutral', 'Negative', 'Credibility levels are low and character development a non - starter .']
['Negative', 'Neutral', 'From beginning to end , this overheated melodrama plays like a student film .']
['Positive', 'Negative', 'to']
['Negative', 'Neutral', 'Super Troopers is an odd amalgam of comedy genres , existing somewhere between the often literal riffs of early Zucker Brothers\\/Abrahams films , and the decidedly foul stylings of their post - modern contemporaries , The Farrelly Brothers .']